:root {
  --bgColor-100: #06ce06;
  --bgColor-200: #05af05;
  --bgColor-300: #017e01;
  --bgColor-400: #06ce06;

  --textColor-100: #fff;
  --textColor-200: #000;
  --textColor-300: #5c5c5c;
  --textColor-400: #727272;

  --borderWhite: 1px solid white;
  --borderGray: 1px solid #2c2c2c;
}

* {
  box-sizing: border-box;
  font-family: Arial;
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  height: 100px;
}

.logo {
  padding: .5rem;
  font-size: 2rem;
  color: #06ce06;
}
.logo:hover {
  background-color: var(--bgColor-100);
  cursor: pointer;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 990px;
  align-items: center;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--textColor-400);
}

nav .active area {
  background-color: var(--bgColor-400);
  color: var(--textColor-100);
}

.banner {
  display: flex;
  justify-content: center;
  background-image: url('../images/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 670px;
  color: var(--textColor-100);
}

.banner_title {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banner_title h1 {
  font-size: 70px;
  margin: 0px;
  padding: 0px;
  width: 400px;
}

.banner_title h2 {
  font-size: 21px;
  margin: 0px;
  padding: 0px;
  width: 400px;
  margin-top: 30px;
}

.banner_option {
  display: flex;
  height: 210px;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  padding: 20px;
}

.banner1 {
  background-color: var(--bgColor-100);
}

.banner2 {
  background-color: var(--bgColor-200);
}

.banner3 {
  background-color: var(--bgColor-300);
}

.option_title {
  font-size: 21px;
  margin-bottom: 20px;
}

.option_text {
  font-size: 12px;
  margin-bottom: 20px;
}

.banner_option a {
  display: inline-block;
  border: var(--borderWhite);
  padding: 5px;
  color: var(--textColor-100);
  text-decoration: none;
}

.option_schedule {
  display: flex;
}

.option_week {
  display: flex;
  flex: 1;
  border-bottom: var(--borderWhite);
}

.option_hour {
  display: flex;
  flex: 1;
  border-bottom: var(--borderWhite);
  align-self: right;
}

.geral {
  display: flex;
  justify-content: center;
}

.geral .container {
  align-items: flex-start;
}

.geral section {
  flex: 2;
}

.geral aside {
  flex: 1;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: var(--textColor-200);
  font-size: 21px;
  font-weight: bold;
}

.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: var(--bgColor-100);
  margin-top: 10px;
}

.bloco {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

aside .bloco div {
  width: 150px;
  height: 150px;
  background-color: var(--bgColor-300);
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
}

article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
  margin-bottom: 30px;
}

article a {
  text-decoration: none;
}

article .news_data {
  display: flex;
}

article .news_date {
  color: var(--textColor-100);
  background-color: var(--bgColor-300);
  font-size: 12px;
  padding: 10px;
}

article .news_coments {
  color: var(--textColor-100);
  background-color: var(--bgColor-100);
  font-size: 12px;
  padding: 10px;
}

article .news_mini img {
  margin-top: 30px;
  width: 300px;
  height: 200px;
}

article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--textColor-200);
  font-size: 23px;
}

article.news {
  color: var(--textColor-300);
  line-height: 20px;
  font-size: 14px;
}

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.menu_footer {
  display: flex;
  align-self: flex-start;
  width: 100%;
}

.menu_footer a {
  text-decoration: none;
  color: var(--textColor-100);
}

.footer_mail-1,
.footer_mail-2,
.footer_mail-3 {
  flex: 1;
  color: var(--textColor-100);
  padding: 20px;
}

.footer_mail-1 {
  background-color: var(--bgColor-100);
}

.footer_mail-2 {
  background-color: var(--bgColor-200);
}

.footer_mail-3 {
  background-color: var(--bgColor-300);
}

.footer_area {
  display: flex;
  color: var(--textColor-100);
}

.footer_item {
  flex: 1;
}

footer .widget_title_text {
  color: var(--textColor-100);
}

footer .autor {
  border-top: var(--borderGray);
  height: 40px;
  line-height: 40px;
  color: var(--textColor-300);
  font-size: 12px;
  margin-top: 30px;
  align-self: flex-start;
}